*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .2s linear;
    text-decoration: none;
}

:root {
        --gradient: linear-gradient(270deg, #FF3800, rgb(136, 212, 151), #FF3800);
      
      } 



body{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
    animation: bg-animation 25s infinite;
}

@keyframes bg-animation{
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}

.body:hover, .body:focus{
    background-position: right;
}

.container{
    display: flex;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid antiquewhite;
    background: transparent;

}

.logo img{
    width: 100px;
    height: auto;
}

.navbar {
    position: relative;
    background: #02988b;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1002;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: antiquewhite;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background-color: #20B2AA;
    position: absolute;
    z-index: 1001;
    display: none;
}

ul li a:hover{
    background: #218968;
    border-radius: 10px;
}

ul li:hover ul.dropdown{
    display: block;
    border-radius: 10px;
}

button{
    border-radius: 10px;
    background-color: antiquewhite;
    width: 90px;
    margin-left: 10px;
    padding: 10px;
    white-space: nowrap;
}

button a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
