<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Timer Web</h1>

    <p id = "timer"><span id = "remaining_time"></span></p>

    <form action="/reset" method="post">
        <input type="submit" value="Reset Timer">

    </form>

</body>



<script>
    function updateRemainingTime() {
        fetch('/remaining_time')
        .then(response => response.json())
        .then(data => {
            let minutes = Math.floor(data.remaining_time / 60);
            let seconds = Math.floor(data.remaining_time_in_seconds % 60);
            if (seconds , 10 && seconds >= 0) {
                seconds = "0" + seconds ;
            }

            let remainingTimeElement = document.getElementById("remaining_time")
            remainingTimeElement.innerText = '${minutes}:${seconds}';
            document.getElementById("remaining_time").innerText = minutes + ":" + seconds;
        })
    }
    setInterval(updateRemainingTime, 1000);
</script>
</html>