<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1">

        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
        <link rel="icon" href="static/images/logo.png">

        <!--w-->
    </head>
    <body>
        
       
       
        <!--supposedly header sec with navbar + login option-->
            <nav class="navbar">
                <div class="navdiv">
                    <div class="logo"><a href="/index" class="logo"><img src="{{ url_for('send_static', logo='images/logo.png') }}" alt="jomPOMO logo"> </a> </div>
                        <ul>
                            {% if current_user.is_authenticated %}
                            <li><a href="/timer">POMOZONE</a></li>
                            <li>
                                <a href="#">LIBRARY 🡻 </a>
                                <ul class="dropdown">
                                    <li><a href="/sound">Sound</a> </li>
                                    <li><a href="/alarm">Alarm</a> </li>
                                    <li><a href="/bgimage">Background Image</a> </li>
                                </ul>
                        
                            </li>
                            <li><a href="/tracker">TRACK</a></li>
                            {% endif %}
                            <li><a href="/about">ABOUT</a></li>
                            <button><a href="/login">LOG IN</a></button>
                            <button><a href="/logout">LOG OUT</a></button>
                            <button><a href="/sign_up">SIGN UP</a></button>
                        </ul>
                        


                </div>




            </nav>

    <body>

    
    <main>
        <div class="main-content">
          <div class="container">
            <div class="content">
                <div class="info-box">
                <h2>About jomPOMO</h2>
                <p>This is a website to increase your productivity and keep you on track with your goals.</p>
                </div>
            <div class="info-box">
                <h2>Features</h2>
                <p>Explore various tools and resources to help you stay focused and organized.</p>
            </div>
            <div class="info-box">
                <h2>Join Us</h2>
                <p>Register now to start tracking your productivity and earn rewards!</p>
            </div>    

            </div>
            <div class="image-container">
                <img src="static/images/logo.png" alt="Logo" class="rotating-logo">
            </div>
    
          </div>
        </div>
    

    </main>
    </body>    


<!--


                
                
                
                
                
                that eno'clock ep is the sweetest ever LIKE??????? 
                who else is crying (TT)
                
                
                -->

</html>

 
