<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1">

        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
        <link rel="icon" href="static/images/logo.png">

        <!--w-->
    </head>
    <body>
        
        <!--supposedly header sec with navbar + login option-->
            <nav class="navbar">
                <div class="navdiv">
                    <div class="logo"><a href="/index" class="logo"><img src="{{ url_for('send_static', logo='images/logo.png') }}" alt="jomPOMO logo"> </a> </div>
                        <ul>
                            {% if current_user.is_authenticated %}
                            <li><a href="/timer">POMOZONE</a></li>
                            <li>
                                <a href="/about">LIBRARY 🡻 </a>
                                <ul class="dropdown">
                                    <li><a href="/sound">Sound</a> </li>
                                    <li><a href="/alarm">Alarm</a> </li>
                                    <li><a href="/bgimage">Background Image</a> </li>
                                </ul>
                        
                            </li>
                            <li><a href="/tracker">TRACK</a></li>
                            {% endif %}
                            <li><a href="#">ABOUT</a></li>
                            <button><a href="/login">LOG IN</a></button>
                            <button><a href="/logout">LOG OUT</a></button>
                            <button><a href="/sign_up">SIGN UP</a></button>
                        </ul>
                        


                </div>
            </nav>

    </body>

            
            
                <nav>
                    <h1 class="centered-text1">Background image selection:</h1>
                    <p class="centered-text2">Select a background image to apply it to the webpage:</p>
            
                    <form id="background-form">
                        <label for="background-image">Choose an image:</label>
                        <select id="background-image" name="background-image">
                            <option value="img 1.jpg">Image 1</option>
                            <option value="img 2.jpg">Image 2</option>
                            <option value="img 3.jpg">Image 3</option>
                            <option value="img 4.jpg">Image 4</option>
                            <option value="img 5.jpg">Image 5</option>
                            <!-- Add more options here -->
                        </select>
                        <button type="submit">Apply</button>
                        <button id="unapply-button" type="button">Unapply</button>
                    </form>
                </nav>
            
                <style>
                   .bg-image {
                        background-image: url('static/images/${selectedImage}');
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                </style>
            
                <script>
                    const form = document.getElementById('background-form');
                    const backgroundImageSelect = document.getElementById('background-image');
                    const unapplyButton = document.getElementById('unapply-button');
            
                    form.addEventListener('submit', (event) => {
                        event.preventDefault();
                        const selectedImage = backgroundImageSelect.value;
                        document.body.style.backgroundImage = `url('static/images/${selectedImage}')`;
                    });

                    unapplyButton.addEventListener('click', () => {
                        document.body.style.backgroundImage = '';
                    });
                </script>
    
    
            <div>
                <p>Background Image 1</p>
                <p id="message 11"></p>
                   <button center onclick="playMessage11()">Play Message</button>
                   <script src="static/script.js"></script>

                <p>Background Image 2</p>
                <p id="message 12"></p>
                   <button onclick="playMessage12()">Play Message</button>
                   <script src="static/script.js"></script>

                <p>Background Image 3</p>
                <p id="message 13"></p>
                   <button onclick="playMessage13()">Play Message</button>
                   <script src="static/script.js"></script>

                <p>Background Image 4</p>
                <p id="message 14"></p>
                   <button onclick="playMessage14()">Play Message</button>
                   <script src="static/script.js"></script>

                <p>Background Image 5</p>
                <p id="message 15"></p>
                   <button onclick="playMessage15()">Play Message</button>
                   <script src="static/script.js"></script>
            </div>
</html>