<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1">

        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 

        <!--w-->
    </head>
    <body>
        
        <!--supposedly header sec with navbar + login option-->
            <nav class="navbar">
                <div class="navdiv">
                    <div class="logo"><a href="/index" class="logo"><img src="{{ url_for('send_static', logo='images/logo.png') }}" alt="jomPOMO logo"> </a> </div>
                        <ul>
                            <li><a href="/timer">POMOZONE</a></li>
                            <li>
                                <a href="#">LIBRARY 🡻 </a>
                                <ul class="dropdown">
                                    <li><a href="/sound">Sound</a> </li>
                                    <li><a href="/alarm">Alarm</a> </li>
                                </ul>
                            </li>
                            <li><a href="/tracker">TRACK</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <button><a href="/login">LOG IN</a></button>
                            <button><a href="/logout">LOG OUT</a></button>
                            <button><a href="/sign_up">SIGN UP</a></button>
                        </ul>


                </div>




            </nav>




    <!--main part, center of page-->    
    <div class="content">
        <h1 class="homepage-title">jomPOMO</h1>
        <p1 class="homepage-text">Jom study with jomPOMO!
           Register now to combat procrastination and unlock rewards and track your productivity with us!</p1>

            <div>
                <a href="/sign_up" class="center-button">Sign up now</a> <!--add hyperlink to account registration-->
            </div>
    </div>


    </body>


</html>