<!DOCTYPE html>
<html>
  <head>
    <title>POMOZONE</title>
  </head>


  <head>
    <link rel="stylesheet" href="static/style.css">
    <audio id="alarm-music" src="static/sound/alarm 1.mp3" loop></audio>
    <audio id="bg-sound" src="static/sound/sound 1.mp3" loop></audio>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/index" class="logo"><img src="{{ url_for('send_static', logo='images/logo.png') }}" alt="jomPOMO logo"> </a> </div>
                <ul>
                    <li><a href="/timer">POMOZONE</a></li>
                    <li>
                        <a href="#">LIBRARY</a>
                        <ul class="dropdown">
                            <li><a href="/sound">Sound</a> </li>
                            <li><a href="/alarm">Alarm</a> </li>
                            <li><a href="/bgimage">Background Image</a> </li>
                        </ul>
                    </li>
                    <li><a href="/tracker">TRACK</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <button><a href="/login">LOG IN</a></button>
                    <button><a href="/logout">LOG OUT</a></button>
                    <button><a href="/sign_up">SIGN UP</a></button>
                </ul>


        </div>

    </nav>
    

  <body>
    <h1>POMOZONE</h1>
    <h5>Pick a Category</h5>
    <button id="study-button" class="category-button">Study</button>
    <button id="gaming-button" class="category-button">Gaming</button>
    <button id="work-button" class="category-button">Work</button>
    <button id="hobby-button" class="category-button">Hobby</button>
    <h5>Timer Control</h5>

    <!--background song dropdown-->
    <div>
      <h2 class="centered-text1">Background Song selection:</h2>
      <select id="song-select">
        <option value="">Select a song</option>
        <option value="song1" data-user-session="0">Song 1</option>
        <option value="song2" data-user-session="3">Song 2</option>
        <option value="song3" data-user-session="6">Song 3</option>
        <option value="song4" data-user-session="9">Song 4</option>
        <option value="song5" data-user-session="12">Song 5</option>
      </select>
  
  
    </div>
    
    <!--alarm dropdown-->
    <div>
      <h2 class="centered-text1">Alarm Selection:</h2>
      <select id="alarm-select">
        <option value="">Select an alarm</option>
        <option value="alarm1" data-user-session="0">Alarm 1</option>
        <option value="alarm2" data-user-session="4">Alarm 2</option>
        <option value="alarm3" data-user-session="7">Alarm 3</option>
        <option value="alarm4" data-user-session="10">Alarm 4</option>
        <option value="alarm5" data-user-session="13">Alarm 5</option>
      </select>
    
  
    </div>
    
    <!--background image dropdown-->
    <nav>
      <h1 class="centered-text1">Background image selection:</h1>
      <p class="centered-text2">Select a background image to apply it to the webpage:</p>
    
      <form id="background-form">
        <label for="background-image">Choose an image:</label>
        <select id="background-image" name="background-image">
          <option value="img 1.jpg" data-user-session="0">Image 1</option>
          <option value="img 2.jpg" data-user-session="5">Image 2</option>
          <option value="img 3.jpg" data-user-session="8">Image 3</option>
          <option value="img 4.jpg" data-user-session="11">Image 4</option>
          <option value="img 5.jpg" data-user-session="14">Image 5</option>
        </select>
        <button type="submit">Apply</button>
        <button id="unapply-button" type="button">Unapply</button>
      </form>
    </nav>
    
    <p id="total-sessions-count">Total Sessions: 0</p> <!-- Placeholder for total sessions -->
    
    <script>
      document.addEventListener('DOMContentLoaded', fetchTotalSessions);
    
      const songSelect = document.getElementById('song-select');
      const playButton = document.getElementById('play-button');
      const stopSongButton = document.getElementById('stop-song-button');
    
      const alarmSelect = document.getElementById('alarm-select');
      const alarmButton = document.getElementById('alarm-button');
      const stopAlarmButton = document.getElementById('stop-alarm-button');
    
      const form = document.getElementById('background-form');
      const backgroundImageSelect = document.getElementById('background-image');
      const unapplyButton = document.getElementById('unapply-button');
    
      const songUrls = {
        song1: 'static/sound/sound 1.mp3',
        song2: 'static/sound/sound 2.mp3',
        song3: 'static/sound/sound 3.mp3',
        song4: 'static/sound/sound 4.mp3',
        song5: 'static/sound/sound 5.mp3',
      };
    
      const alarmUrls = {
        alarm1: 'static/sound/alarm 1.mp3',
        alarm2: 'static/sound/alarm 2.mp3',
        alarm3: 'static/sound/alarm 3.mp3',
        alarm4: 'static/sound/alarm 4.mp3',
        alarm5: 'static/sound/alarm 5.mp3',
      };
    
      let currentAudio;
      let startTime;
      let startAlarmTime;
    
      // Fetch the total sessions once and update all relevant elements
      function fetchTotalSessions() {
        fetch('/get-total-sessions')
          .then(response => response.json())
          .then(data => {
            const totalSessionsCount = document.getElementById('total-sessions-count');
            totalSessionsCount.textContent = `Total Sessions: ${data.total_sessions}`;
          })
          .catch(error => {
            console.error('Error fetching total sessions:', error);
          });
      }
    
      playButton.addEventListener('click', playSong);
      stopSongButton.addEventListener('click', stopSong);
      alarmButton.addEventListener('click', playAlarm);
      stopAlarmButton.addEventListener('click', stopAlarm);
    
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const selectedImage = backgroundImageSelect.value;
        const targetSession = parseInt(backgroundImageSelect.querySelector(`option[value="${selectedImage}"]`).getAttribute('data-user-session'));
        const totalSessions = parseInt(document.getElementById('total-sessions-count').textContent.split(':')[1].trim());
    
        if (targetSession <= totalSessions) {
          document.body.style.backgroundImage = `url('static/images/${selectedImage}')`;
        } else {
          alert(`You need ${targetSession} sessions to unlock this image!`);
        }
      });
    
      unapplyButton.addEventListener('click', () => {
        document.body.style.backgroundImage = '';
      });
    
      function playSong() {
        const selectedSong = songSelect.value;
        const targetSession = parseInt(songSelect.querySelector(`option[value="${selectedSong}"]`).getAttribute('data-user-session'));
        const totalSessions = parseInt(document.getElementById('total-sessions-count').textContent.split(':')[1].trim());
    
        if (targetSession <= totalSessions) {
          if (currentAudio) {
            currentAudio.pause();
            currentAudio.currentTime = 0;
          }
    
          currentAudio = new Audio(songUrls[selectedSong]);
          currentAudio.loop = false;
          currentAudio.onended = loopAudio;
          currentAudio.play();
          startTime = new Date().getTime();
        } else {
          alert(`You need ${targetSession} sessions to unlock this song!`);
        }
      }
    
      function stopSong() {
        if (currentAudio) {
          currentAudio.pause();
          currentAudio.currentTime = 0;
        }
      }
    
      function loopAudio() {
        const currentTime = new Date().getTime();
        const elapsedTime = (currentTime - startTime) / 1000;
    
        if (elapsedTime < 25 * 60) {
          currentAudio.play();
        } else {
          currentAudio.pause();
          currentAudio.currentTime = 0;
        }
      }
    
      function playAlarm() {
        const selectedAlarm = alarmSelect.value;
        const targetSession = parseInt(alarmSelect.querySelector(`option[value="${selectedAlarm}"]`).getAttribute('data-user-session'));
        const totalSessions = parseInt(document.getElementById('total-sessions-count').textContent.split(':')[1].trim());
    
        if (targetSession <= totalSessions) {
          if (currentAlarm) {
            currentAlarm.pause();
            currentAlarm.currentTime = 0;
          }
    
          currentAlarm = new Audio(alarmUrls[selectedAlarm]);
          currentAlarm.loop = false;
          currentAlarm.onended = loopAlarm;
          currentAlarm.play();
          startAlarmTime = new Date().getTime();
        } else {
          alert(`You need ${targetSession} sessions to unlock this alarm!`);
        }
      }
    
      function stopAlarm() {
        if (currentAlarm) {
          currentAlarm.pause();
          currentAlarm.currentTime = 0;
        }
      }
    
      function loopAlarm() {
        const currentTime = new Date().getTime();
        const elapsedTime = (currentTime - startAlarmTime) / 1000;
    
        if (elapsedTime < 25 * 60) {
          currentAlarm.play();
        } else {
          currentAlarm.pause();
          currentAlarm.currentTime = 0;
        }
      }
    </script>
    
    <!--start timer functionality-->
    <button id="start-button">Start</button>
    <button id="stop-button" disabled>Stop</button>
    <button id="reset-button" disabled>Reset</button>
    <div id="timer">
      <span id="work-time">25:00</span>
      <span id="separator">/</span>
      <span id="break-time">05:00</span>
    </div>
  
      <button id="skipbreak-button">Skip Break</button>

    </div>

    <script>
      function storeUserSession(sessionData) {
        fetch('/store-session', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(sessionData),
        })
        .then((response) => response.json())
        .then((data) => {
          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }

      const startButton = document.getElementById("start-button");
      const stopButton = document.getElementById("stop-button");
      const resetButton = document.getElementById("reset-button");
      const timer = document.getElementById("timer");
      const workTime = document.getElementById("work-time");
      const breakTime = document.getElementById("break-time");
      const skipbreakButton = document.getElementById("skipbreak-button");
      const BgSound = document.getElementById("bg-sound")
      const studyButton = document.getElementById("study-button")
      const gamingButton = document.getElementById("gaming-button")
      const workButton = document.getElementById("work-button")
      const hobbyButton = document.getElementById("hobby-button")
      const categoryButtons = document.getElementsByClassName("category-button")

      // 25 minutes --> 5 minutes --> 25 minutes = 1 session
      let workInterval;
      let breakInterval;
      let timeLeft = 5; // 25 minutes in seconds
      let breakTimeLeft = 5 * 60; // 5 minutes in seconds
      let isWorking = true;
      let sessionId = null;
      let currentAlarm;
      let category = ""
      

      function getCategory(text){
        category = text
        console.log(category)

        for (i = 0; i < categoryButtons.length; i++) {
          categoryButtons[i].disabled = true
        }
      } 

      function playSelectedBackgroundSong() {
        const selectedSong = songSelect.value;
        const targetSession = parseInt(songSelect.querySelector(`option[value="${selectedSong}"]`).getAttribute('data-user-session'));
        const totalSessions = parseInt(document.getElementById('total-sessions-count').textContent.split(':')[1].trim());

        if (targetSession <= totalSessions) {
          if (currentAudio) {
            currentAudio.pause();
            currentAudio.currentTime = 0;
          }

          currentAudio = new Audio(songUrls[selectedSong]);
          currentAudio.loop = true; // Loop the background song
          currentAudio.play();
          startTime = new Date().getTime();
        } else {
          alert(`You need ${targetSession} sessions to unlock this song!`);
        }
      }

      function playSelectedAlarm() {
          const selectedAlarm = alarmSelect.value;
          const targetSession = parseInt(alarmSelect.querySelector(`option[value="${selectedAlarm}"]`).getAttribute('data-user-session'));
          const totalSessions = parseInt(document.getElementById('total-sessions-count').textContent.split(':')[1].trim());

          if (targetSession <= totalSessions) {
              const alarmAudio = new Audio(alarmUrls[selectedAlarm]);
              alarmAudio.loop = true; // Loop the alarm
              alarmAudio.play();
              return alarmAudio; // Return the audio object if needed
          } else {
              alert(`You need ${targetSession} sessions to unlock this alarm!`);
          }
          
      }

      

      studyButton.addEventListener("click", () => getCategory("study"))
      gamingButton.addEventListener("click", () => getCategory("gaming"))
      workButton.addEventListener("click", () => getCategory("work"))
      hobbyButton.addEventListener("click", () => getCategory("hobby"))

      startButton.addEventListener("click", () => {
        playSelectedBackgroundSong();
        startButton.disabled = true;
        stopButton.disabled = false;
        resetButton.disabled = false;
        if (isWorking) {
          workInterval = setInterval(() => {
            timeLeft--;
            workTime.textContent = `${Math.floor(timeLeft / 60)}:${(timeLeft % 60).toString().padStart(2, "0")}`;
            if (timeLeft === 0) {
              clearInterval(workInterval);
              isWorking = false;
              breakTimeLeft = breakTimeLeft;

              currentAudio.pause();

              breakInterval = setInterval(() => {
                breakTimeLeft--;
                breakTime.textContent = `${Math.floor(breakTimeLeft / 60)}:${(breakTimeLeft % 60).toString().padStart(2, "0")}`;
                if (breakTimeLeft === 0) {
                  clearInterval(breakInterval);
                  isWorking = true;

                  currentAudio.play();
                }
              }, 1000);
            }
          }, 1000);
        } else {
          breakInterval = setInterval(() => {
            breakTimeLeft--;
            breakTime.textContent = `${Math.floor(breakTimeLeft / 60)}:${(breakTimeLeft % 60).toString().padStart(2, "0")}`;
            if (breakTimeLeft === 0) {
              clearInterval(breakInterval);
              isWorking = true;
              timeLeft = 25 * 60;
              workInterval = setInterval(() => {
                timeLeft--;
                workTime.textContent = `${Math.floor(timeLeft / 60)}:${(timeLeft % 60).toString().padStart(2, "0")}`;
                if (timeLeft === 0) {
                  clearInterval(workInterval);
                  isWorking = false;
                  
                }
              }, 1000);
            }
          }, 1000);
        }
      });



      stopButton.addEventListener("click", () => {
        startButton.disabled = false;
        stopButton.disabled = true;
        clearInterval(workInterval);
        clearInterval(breakInterval);
      });

      resetButton.addEventListener("click", () => {
        startButton.disabled = false;
        stopButton.disabled = true;
        resetButton.disabled = true;
        clearInterval(workInterval);
        clearInterval(breakInterval);

        timeLeft = 5;

        breakTimeLeft = 5 * 60;
        workTime.textContent = "25:00";
        breakTime.textContent = "05:00";
        isWorking = true;
        skipbreakButton.disabled = false;
        alarmAudio.pause();
      });

    skipbreakButton.addEventListener("click", () => {
      currentAudio.play();
      if (breakInterval) {
      clearInterval(breakInterval);
      isWorking = true;
      timeLeft = 5;
      breakTimeLeft = 5 * 60;
      workInterval = setInterval(() => { 
        timeLeft--;
        workTime.textContent = `${Math.floor(timeLeft / 60)}:${(timeLeft % 60).toString().padStart(2, "0")}`; 
        if (timeLeft === 0) { 
          clearInterval(workInterval); 
          isWorking = false; 

            {% if current_user.is_authenticated %}
            const sessionData = {
              user_id: {{ current_user.id }},
              category: category
            };
            storeUserSession(sessionData);
            {% endif %}

          currentAudio.pause();
          alarmAudio.play(); //The selected alarm is play 
          alarmAudio.currentTime = 0;
          alert("Timer is up!");
          alarmAudio.pause();
          resetTimer();
        } 
      }, 1000);
      skipbreakButton.disabled = true;
        }
      });

      updateTimerDisplay(); // Initial display update
      
      </script>