<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="icon" href="static/images/logo.png">

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!--w-->
  </head>
  <body>

    <!--supposedly header sec with navbar + login option-->
    <nav class="navbar">
      <div class="navdiv">
        <div class="logo"><a href="/index" class="logo"><img src="{{ url_for('send_static', logo='images/logo.png') }}"
                                                             alt="jomPOMO logo"> </a></div>
        <ul>
          <li><a href="/timer">POMOZONE</a></li>
          <li>
            <a href="#">LIBRARY 🡻 </a>
            <ul class="dropdown">
              <li><a href="/sound">Sound</a></li>
              <li><a href="/alarm">Alarm</a></li>
              <li><a href="/bgimage">Background Image</a></li>
            </ul>
          </li>
          <li><a href="/tracker">TRACK</a></li>
          <li><a href="/about">ABOUT</a></li>
          <button><a href="/login">LOG IN</a></button>
          <button><a href="/logout">LOG OUT</a></button>
          <button><a href="/sign_up">SIGN UP</a></button>
        </ul>


      </div>



    </nav>

    <h2>User's Trackzz</h2>
    <div class="tracker-button">
      <button><a href="/tracker">Tracker</a></button>
      <button><a href="/tracker-week">Weekly</a></button>
      <button><a href="/tracker-month">Monthly</a></button>
    </div>
    <div class="tracker-date">from {{ from_date }} - {{ to_date }}</div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            'gaming',
            'study',
            'work',
            'hobby',
          ],
          datasets: [{
            label: 'Pomozone Session',
            barThickness: 250,
            data: [
              {{ session_data.gaming }},
              {{ session_data.study }},
              {{ session_data.work }},
              {{ session_data.hobby }},
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 0.5,
          }
        }
    );
    </script>


  </body>
</html>

