*{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .2s linear;
    text-decoration: none;
}

:root {
        --gradient: linear-gradient(270deg, #FF3800, rgb(136, 212, 151), #FF3800);
      
      } 



body{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
    animation: bg-animation 25s infinite;
}


@keyframes bg-animation{
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}

.body:hover, .body:focus{
    background-position: right;
}

p{
    text-align: center;
    line-height: 1.5;
}

.container{
    display: flex;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid antiquewhite;
    background: transparent;

}

.logo img{
    width: 100px;
    height: auto;
}

.navbar {
    height: auto;
    position: relative;
    background: #02988b;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1002;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: antiquewhite;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background-color: #20B2AA;
    position: absolute;
    display: none;
}

ul li a:hover{
    background: #218968;
    border-radius: 10px;
}

ul li:hover ul.dropdown{
    display: block;
    border-radius: 10px;
    width: 150px;
}

button{
    border-radius: 5px;
    background: transparent;
    width: 90px;
    margin-left: 10px;
    padding: 10px;
    white-space: nowrap;
}

button a{
    color: antiquewhite;
    font-weight: bold;
    font-size: 15px;
}


.center-button {
        border-radius: 5px;
        background: antiquewhite;
        width: 90px;
        margin-left: 10px;
        margin-top: 20px;
        padding: 10px;
        white-space: nowrap;
        display: inline-block; 
        transition: background-color 0.1s;
    }
    
    .center-button:hover {
        background-color:#02ae9f
    }
    
.center-button a{
        color: rgb(28, 26, 24);
        font-weight: bolder;
        font-size: 15px;
    }

.centered-text1 {
        text-align: center;
        font-size: 50px;
        color: antiquewhite;
        margin-bottom: 10px;
    }

.centered-text2 {
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
    margin-top: 5px;
}

.homepage-title {
    margin-bottom: 10px;
}

.homepage-text {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.login-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .login-form h3 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  